---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="ルール">
  <div class="flex flex-col gap-2">
    <p class="text-lg">
      一人一本釣竿が渡されます。<br>
      釣竿の先には磁石が付いているので，ステージにあるカプセルを釣竿で釣り上げます。<br>
      カプセルは色によって点数が異なります。<br>

    </p>
  </div>
</Card>
