---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="ルール">
  <div class="flex flex-col gap-2">
    <p class="text-lg">
      一人一本釣竿が渡されます。<br>
      釣竿の先には磁石が付いているので，ステージにあるカプセルを釣竿で釣り上げます。<br>
      カプセルは場所によって点数が決まっています。<br>
      手前の段と奥の段にカプセルがおいてあります。<br>
      奥のカプセルほど点数が高いです。
      制限時間は<strong>1分間</strong>です。
      制限時間の間に釣り上げたカプセルの点数の合計が最終得点になります。 <br>
      高い点数ほど豪華な景品があるので頑張ってください!
    </p>
  </div>
</Card>
