---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold">
        料金
      </h1>
    </header>
    1回あたり<strong>100円</strong>
  </div>
</Card>
