---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-40" title="景品">
  <div class="md:flex gap-5 mt-4 justify-center">
    <img
      src="/prize1.JPG"
      class="text-center w-auto max-h-[300px] select-none right-[-110px] bottom-[-20px] z-[-1]  md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="prize picture"
    />
    <img
      src="/prize2.jpg"
      class="md:max-h[300px] md:max-w-[21rem] aspect-auto w-auto select-none right-[-110px] bottom-[-20px] z-[-1]  md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="prize picture"
    />
  </div>
  <div class="md:flex gap-w mt-4 md:justify-center">
    <p class="mx-16">
      <ul class="list-disc">
        <li>キーボード</li>
        <li>iPhone12用保護フィルム</li>
        <li>各種キーホルダー</li>
        <li>各種ケーブル</li>
        <li>各種クリアファイル</li>
      </ul>
    </p>
    <p class="mx-16">
      <ul class="list-disc">
        <li>ラノベ</li>
        <li>iPhone6s(ジャンク品)</li>
        <li>イヤホン</li>
        <li>貨物列車型小物入れ</li>
        <li>3色ボールペン</li>
        <li>ボールペン</li>
        <li>飴</li>
      </ul>
    </p>
  </div>
</Card>
