---
import { getCurrentTimeInJapan, formatTimeForJapan } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<Card colSpan="" rowSpan="md:row-span-1" title="点数表">
  <p
    id="timeDisplay"
    class="text-sm  flex justify-center items-center"
  >
  <div class="font-bold">
    <ul>
      <li>下段: 50点</li>
      <li>上段手前: 200点</li>
      <li>上段奥: 300点</li>
    </ul>
  </div>
  </p>
</Card>
